{% extends "layout.html" %}
 
{% block content %}
  
  <div class="page-header">
    <h1>Welcome to Twitter.js, Nimit!</h1>
  </div>
  <div class="row">
    <div class="col-md-3">
      <img src="https://pbs.twimg.com/profile_images/2450268678/olxp11gnt09no2y2wpsh_normal.jpeg"><br>
      <b>Your Name</b><br>
      100 followers
    </div>
    <div class="col-md-9">
    
      <!-- display tweets here -->
      <h3>{{title}}</h3>
      {% if showForm %}
		  <form action="/submit" method="POST">
		    <label for="name_field">Name:</label>
		    <input name="name" type="text" id="name_field" value="{{name}}"/>

		    <label for="text_field">Text:</label>
		    <input name="text" type="text" id="text_field" style="width: 350px;" />

		    <input class="btn btn-primary" type="submit" value="Submit" />
		  </form>
	  {% endif %}
	  <div id='tweet-wrapper'>
      {% for tweet in tweets %}
      	<div class="media" style="cursor:pointer;" onclick="window.location.href = '/users/{{tweet.UserId}}/tweets/{{tweet.id}}'">
		  <div class="media-left">
		    <a href="#">
		      <img class="media-object" src="http://www.jammaplus.co.uk/forum/uploads/5237/Paper-Mario-icon.png">
		    </a>
		  </div>
		  <div class="media-body">
		    <h4 class="media-heading"><a href="/users/{{tweet.UserId}}">{{tweet.User.name}}{{name}}</a></h4>
        	<p>{{tweet.tweet}}</p>
        	<a href="#">Re-tweet</a>
		  </div>
		</div>
      {% endfor %}
      </div>
    </div>
  </div>
    
{% endblock %}